/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

.padding-zero {
    padding: 0;
}

/*
=========----------------------------------=========
            2.hOME Css     
=========----------------------------------=========
*/

.header-txt {
    background: #E60606;
    color: #fff;
    text-align: center;
    padding: 12px 0;
}

.header-txt h3 {
    margin: 0;
    font-weight: 300;
    font-size: 25px;
}

.side-logo-txt {

    margin-top: 23px;

}

.btn-bs-file {
    position: relative;
}

.btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

.home-check-in input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 22px;
    border-color: transparent;
    border-bottom-color: #999;
    border-bottom: 1px solid #999;
}

.check-indetails {
    margin-top: 20px;
}

.only-checkin button {
    width: 100%;
    background: transparent;
    height: 50px;
    border: transparent;
    border-bottom: 1px solid #999;
    text-align: left;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}

.only-checkin i.icofont {
    color: #F5156F;
    font-size: 30px;
}

.check-post-btn input {
    width: 80%;
    height: 50px;
    font-weight: bold;
    color: #fff;
    background: #E60606;
    border: 0;
    border-radius: 5px;
    margin: 50px 0;
    cursor: pointer;
}

/*
=========----------------------------------=========
            3.Template Position Css     
=========----------------------------------=========
*/

.user-pic img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-details {
    padding: 10px;
    border-top: 4px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.user-name h5 {
    margin: 0;
}

.user-name button {
    background: transparent;
    border: 1px solid #999;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.user-name i.icofont {
    color: #F42D6A;
    font-size: 27px;
}

.user-up-pic img {
    width: 100%;
    height: auto;
}

.user-up-pic {
    margin: 10px;
}

.fb-share-btn button {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 0;
    line-height: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.fb-share-btn i.icofont {
    color: #FF0101;
    font-size: 20px;
}

/*
=========----------------------------------=========
            4.Template Hover Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            5.Template Buttons Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy.cont.text-center {
    padding: 20px 0;
    border-top: 1px solid #E60606;
}

.copy.cont.text-center p {
    margin: 0;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       Upload BTN CSS                      |
 -------------------=======================----------------
*/

.file-input-wrapper > input[type="file"] {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.file-input-wrapper > .btn-file-input {
    opacity: 0.8;
    width: 100%;
    height: 50px;
    text-align: left;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999;
    font-weight: bold;
    cursor: pointer;
}

.file-input-wrapper {
    position: relative;
    width: 100%;
}

.up-pic-btn.file-input-wrapper i.icofont {
    font-size: 27px;
    color: #89BE4C;
    margin-right: 10px;
}
